#child1 {
  color: gold;
}
#child2 {
  color: greenyellow;
}
.logo > img {
  width: 80px;
}
.menu > ul {
  display: flex;
  list-style: none;
}
.menu > ul > li {
  margin: 5px;
  padding: 5px;
}
.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}
