#child1 {
  color: gold;
}
#child2 {
  color: greenyellow;
}
.logo > img {
  width: 80px;
}
.menu > ul {
  display: flex;
  list-style: none;
}
.menu > ul > li {
  margin: 5px;
  padding: 5px;
}
.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}
.body {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 400px
  margin: 5px;
  padding: 10px;
  background-color: azure;
  line-height: 100%;
}
.card:hover {
  border: 1px solid gray;
  cursor: pointer;
}
.card > img {
  width: 200px;
}

.filter-btn {
  margin: 5px;
}
